<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ASAP Insurance Ltd.</title>
    <link rel="stylesheet" href="../public/css/landing.css" />
  </head>
  <body>
    <div class="home">
      <div class="home1">
        <header>
          <div id="main_nav">
          <nav>
            <div id="logo1">
              <img src="../public/img/logo.png" alt="" height="50px">
              <h3 class="logo">&nbspInsurance Ltd.</h3>
            </div>
            <a href="/products"><h4>Products</h4></a>
            <h4>About Us</h4>
            <a href="/login"><h4>Login</h4></a>
            <img src="../public/img/icons8-menu.svg" alt="burger" />
          </nav>
        </div>
        <br>
          <main>
            <section class="landing">
              <div class="options">
                <div>
                  <img class="photo1" src="../public/img/photo1.jpg" alt="" />
                </div>
                <h1>I want insurance for</h1>
                <nav id="choice1">
                  <a href="#"><img src="../public/img/health.svg" alt="" height="100px" width="100px"></a>
                  <a href="#"><img src="../public/img/car.svg" alt="" height="100px" width="100px"></a>
                  <a href="#"><img src="../public/img/travel.svg" alt="" height="100px" width="100px"></a>
                </nav>
                <nav id="choice">
                <p>Health</p>
                <p>Vehicle</p>
                <p>Travel</p>
                </nav>
                <br /><br /><br />
              </div>
            </section>
            <section class="whyus">
              <div class="options">
                <h1>Why choose ASAP Insurance?</h1>
                <div>
                  <img class="photo2" src="../public/img/photo2.jpg" alt="" />
                </div>
                <p class="whyuspara">
                  ASAP Health Plans: Leading a healthy lifestyle in the modern
                  high-stress routines is challenging. Medical emergencies can
                  arise without any intimation. At such times, treatment costs
                  can put a huge financial burden on families. For example, cost
                  of cancer treatment can cost around 20 lacs*. Such huge
                  payments coupled with work-pay loss can cause imbalances in
                  your family finances. ASAP Life Health Plans help you to be
                  financially prepared for such situations by providing you
                  coverage for your medical recovery.
                </p>
              </div>
            </section>
            <section class="customers">
              <div class="options">
                <h1>What Customers are saying?</h1>
                <div>
                  <img class="photo3" src="../public/img/photo3.jpg" alt="" />
                </div>
              </div>
            </section>
            <div class="pages">
              <div class="page-1">
                <h3>Home</h3>
                <img src="../public/img/dot filled.svg" alt="" />
              </div>
              <div class="page-2">
                <h3>Why choose ASAP Insurance?</h3>
                <img src="../public/img/dot empty.svg" alt="" />
              </div>
              <div class="page-3">
                <h3>What Customers are saying?</h3>
                <img src="../public/img/dot empty.svg" alt="" />
              </div>
            </div>
          </main>
        </header>
      </div>
    </div>
  </body>
</html>
