<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ASAP Life Insurance</title>
    <link rel="stylesheet" href="../public/css/signup.css" />
  </head>
  <body>
    <div class="home">
      <div class="home1">
        <header>
          <div id="main_nav">
          <nav>
            <div id="logo1">
              <img src="../public/img/logo.png" alt="" height="50px">
              <h3 class="logo">&nbspLife Insurance</h3>
              </div>
            <h4>Products</h4>
            <h4>About Us</h4>
            <h4>Login/Signup</h4>
            <img src="../public/img/icons8-menu.svg" alt="burger" />
          </nav>
          
        </div>
        <br>
          <main><br><br><br>
            
           
    
            <br>
            <form>
              Username:<br>
              <input type="text" name="firstname"><br>
              Password:<br>
              <input type="text" name="lastname"> <br> <br>  
            </form>
            <a href="#">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            Login
          </a>
            <br>
            <br>
           
            <br>
            <h1>New Here?</h1>
            <br>
            <a href="#">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            Sign Up Here!
          </a>
            <br>
            <br>
            
            <br><br><br>
            <br><br><br>
          </main>
        
      </header>
      </div>
    </div>
  </body>
</html>
